.Card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  width: 45mm;
  height: 68mm;
  padding: 3mm;
  border: 3mm solid beige;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease-out;
  zoom: 0.6;
}

.Card[data-type="place"] {
  background-color: lightgreen;
}

.Card[data-type="place"] {
  background-color: lightblue;
}

.Card[data-type="enemy"] {
  background-color: lightpink;
}

.CardTitle {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.CardTitle h1 {
  font-size: 1em;
}

.CardTitle h2 {
  font-size: 0.8em;
}

.CardFluffy {
  font-size: 0.6em;
  font-style: italic;
  opacity: 0.8;
}

.CardUnlocks {
  justify-content: flex-end;
  display: flex;
  gap: 1mm;
}
.tokens {
  display: flex;
  gap: 1mm;
}