.ItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45mm;
  height: 68mm;
  padding: 3mm;
  border: 3mm solid lightblue;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: all 0.3s ease-out;
  cursor: pointer;
  transform: scale(0.6);
}