.TimeTrackSlots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: start;
  width: 100%;
  list-style: none;
  gap: 0.5em;
}

.TimeTrackSlots > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 100px;
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.TimeTrackSlots > li.selectedSlot {
  border: 2px solid red;
}

.TimeTrackSlots > li div {
  height: 10mm;
}
