.TimeTrackSlots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  align-content: start;
  width: 100%;
  list-style: none;
  gap: 0.5em;
  font-size: 3mm;
}

.TimeTrackSlots > li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 100px;
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  font-size: 0.5em;
}

.TimeTrackSlots h1 {
  display: flex;
}
.TimeTrackSlots h2 {
  display: flex;
}

.TimeTrackSlots div {
  grid-column: 1 / 2 span;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TimeTrackSlots > li.selectedSlot {
  border: 2px solid red;
}

.TimeTrackSlots > li div {
  height: 10mm;
}
